<header class="masthead">
  {% if site.avatar -%}
    <div class="avatar">
      {%- if site.avatar contains "://" -%}
        {%- assign avatar = site.avatar -%}
      {%- else -%}
        {%- assign avatar = site.avatar | relative_url -%}
      {%- endif -%}
      <img src="{{ avatar }}" class="avatar-image" alt="{{ site.author.name }}">
    </div>
  {%- endif %}
  <div class="masthead-title">
    <a href="{{ "/" | relative_url }}" title="Home">{{ site.title }}</a>
  </div>
  <div class="masthead-tagline">
    <small>{{ site.description }}</small>
  </div>
</header>
